Repository MantisAI/nervaluate: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, flake8, mypy

.pre-commit-config.yaml:

repos:

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.1.0
  hooks:
  - id: check-yaml

- repo: https://github.com/psf/black
  rev: 22.3.0
  hooks:
  - id: black
    args: [-t, py38, -l 120]

- repo: local
  hooks:
  - id: pylint
    name: pylint
    entry: pylint
    language: system
    types: [ python ]
    args: [--rcfile=pylint.cfg]

- repo: local
  hooks:
  - id: flake8
    name: flake8
    entry: flake8
    language: system
    types: [ python ]
    args: [--config=setup.cfg]

- repo: local
  hooks:
    - id: mypy
      name: mypy
      entry: mypy
      language: python
      language_version: python3.8
      types: [python]
      exclude: examples|tests
      require_serial: true  # use require_serial so that script is only called once per commit
      verbose: true  # print the number of files as a sanity-check
      args: [--config, setup.cfg]

adding more tests
  tests/test_reporting.py
Due: pylint, flake8

adding docstrings
  src/nervaluate/reporting.py
Due: pylint, flake8, mypy

wip
  src/nervaluate/reporting.py
  src/nervaluate/utils.py
Due: pylint, flake8, mypy

fixing type hints
  src/nervaluate/evaluate.py
Due: pylint, flake8, mypy

adding hatch as project manager; linting and typing
  examples/example_no_loader.py
  pyproject.toml
  src/nervaluate/__init__.py
  src/nervaluate/evaluate.py
  src/nervaluate/reporting.py
  src/nervaluate/utils.py
  tests/test_evaluator.py
  tests/test_nervaluate.py
  tests/test_reporting.py
Due: pylint, flake8, mypy

adding pytest-cov as dependency
  pyproject.toml
  src/nervaluate/evaluate.py
Due: pylint, flake8, mypy

fixing linting and typing issues
  src/nervaluate/evaluate.py
Due: pylint, flake8, mypy

changing github workflow
  .github/workflows/test.yml
Due: none

disabling old github workflow and triggering new one
  .github/workflows/checks.yaml
  .github/workflows/test.yml
Due: none

streamlining CI checks
  .github/workflows/test.yml
Due: none

adding windows and macos to CI
  .github/workflows/test.yml
Due: none

removing old workflow file
  .github/workflows/checks.yaml
  .github/workflows/test.yml
Due: none

adding new file
  .github/workflows/CI-checks.yml
Due: none

reverting to ubuntu only
  .github/workflows/CI-checks.yml
Due: none

running on ubuntu, windows and macos
  .github/workflows/CI-checks.yml
Due: none

removing old config files
  pylint.cfg
  setup.cfg
Due: none

removing flake8
  Makefile
  pyproject.toml
Due: none

drafting CONTRIBUTE.md
  Makefile
Due: none

drafting CONTRIBUTE.md
  CONTRIBUTING.md
Due: none

removing Makefile
  Makefile
Due: none

Update src/nervaluate/reporting.py
  src/nervaluate/reporting.py
Due: pylint, flake8, mypy

removing unused variable
  src/nervaluate/reporting.py
Due: pylint, flake8, mypy

updating README.MD
  README.md
Due: none

Update README.md
  README.md
Due: none

adding scenario type for summary report
  src/nervaluate/reporting.py
Due: pylint, flake8, mypy

initial import
  src/nervaluate/evaluate.py
  src/nervaluate/utils.py
Due: pylint, flake8, mypy

adding tests
  pyproject.toml
  tests/test_evaluator.py
  tests/test_loaders.py
Due: pylint, flake8

fixing loading test_list_loader
  tests/test_loaders.py
Due: pylint, flake8

fixing loading test_dict_loader
  tests/test_loaders.py
Due: pylint, flake8

fixing loading test_conll_loader
  tests/test_loaders.py
Due: pylint, flake8

fixing loaders
  tests/test_loaders.py
Due: pylint, flake8

separating new and old evaluator logic
  tests/test_evaluator.py
Due: pylint, flake8

adding refactored code
  src/nervaluate/entities.py
  src/nervaluate/evaluation_strategies.py
  src/nervaluate/evaluator.py
  src/nervaluate/loaders.py
  tests/test_entities.py
  tests/test_evaluation_strategies.py
  tests/test_evaluator_new.py
Due: pylint, flake8, mypy

fixing all tests
  src/nervaluate/evaluation_strategies.py
  tests/test_evaluator_new.py
Due: pylint, flake8, mypy

type checking
  src/nervaluate/entities.py
  src/nervaluate/evaluator.py
  src/nervaluate/loaders.py
Due: pylint, flake8, mypy

adding missed pyproject.toml
  pyproject.toml
Due: none

cleaning up README.MD
  README.md
Due: none

working on new versions of summary reports
  src/nervaluate/evaluator.py
  src/nervaluate/reporting.py
  tests/test_evaluator_new.py
Due: pylint, flake8, mypy

moving reporting to the Evaluator class
  src/nervaluate/evaluator.py
  src/nervaluate/reporting.py
  tests/test_evaluator_new.py
Due: pylint, flake8, mypy
