Repository MantisAI/nervaluate: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, flake8, mypy

.pre-commit-config.yaml:

repos:

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.1.0
  hooks:
  - id: check-yaml

- repo: https://github.com/psf/black
  rev: 22.3.0
  hooks:
  - id: black
    args: [-t, py38, -l 120]

- repo: local
  hooks:
  - id: pylint
    name: pylint
    entry: pylint
    language: system
    types: [ python ]
    args: [--rcfile=pylint.cfg]

- repo: local
  hooks:
  - id: flake8
    name: flake8
    entry: flake8
    language: system
    types: [ python ]
    args: [--config=setup.cfg]

- repo: local
  hooks:
    - id: mypy
      name: mypy
      entry: mypy
      language: python
      language_version: python3.8
      types: [python]
      exclude: examples|tests
      require_serial: true  # use require_serial so that script is only called once per commit
      verbose: true  # print the number of files as a sanity-check
      args: [--config, setup.cfg]

bumping version
  pyproject.toml
Due: none

1.0.0 release
  CHANGELOG.rst
Due: none

chore: removing script to compare old and new version outputs
  compare_versions.py
Due: pylint, flake8, mypy

defining a min ground truth percentage to be considered an overlap
  src/nervaluate/evaluator.py
  src/nervaluate/strategies.py
  tests/test_evaluator.py
  tests/test_strategies.py
Due: pylint, flake8, mypy

fixing linting issues
  src/nervaluate/strategies.py
  tests/test_evaluator.py
  tests/test_strategies.py
Due: pylint, flake8, mypy

fixing linting issues
  pyproject.toml
Due: none

testing for single character entities
  tests/test_strategies.py
Due: pylint, flake8

1.1.0 release
  CHANGELOG.rst
  pyproject.toml
Due: none

1.1.0 release
  CITATION.cff
Due: none

adding Makefile
  Makefile
  tests/test_strategies.py
Due: pylint, flake8

bumping version to 1.2.0
  pyproject.toml
Due: none

updating CHANGELOG
  CHANGELOG.rst
Due: none

1.2.0 release
  CITATION.cff
Due: none

Fix partial and ent_type precision/recall when merging multi-document results
  src/nervaluate/evaluator.py
Due: pylint, flake8, mypy

adding tests + updating README.md
  README.md
  tests/test_evaluator.py
Due: pylint, flake8

1.2.1 release
  CHANGELOG.rst
  CITATION.cff
  pyproject.toml
Due: none

updating citation
  CITATION.cff
Due: none
