Repository MantisAI/nervaluate: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, flake8, mypy

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - --rcfile=pylint.cfg

flake8:
  name: flake8
  entry: flake8
  language: system
  args:
  - --config=setup.cfg

mypy:
  name: mypy
  entry: mypy
  language: python
  language_version: python3.8
  require_serial: true
  verbose: true
  args:
  - --config
  - setup.cfg

upgrading dev tools versions
  pyproject.toml
Due: none

Create pull_request_template.md
  .github/pull_request_template.md
Due: none

fixing imports
  src/nervaluate/evaluator.py
  src/nervaluate/loaders.py
  src/nervaluate/reporting.py
  tests/test_evaluator_new.py
Due: pylint, flake8, mypy

fxing empty entities
  src/nervaluate/loaders.py
Due: pylint, flake8, mypy

fixes
  README.md
  compare_versions.py
  src/nervaluate/evaluator.py
Due: pylint, flake8, mypy

working on comparative example
  compare_versions.py
Due: pylint, flake8, mypy

fixing docs lenghts tests
  compare_versions.py
  src/nervaluate/evaluator.py
  tests/test_evaluator.py
  tests/test_evaluator_new.py
Due: pylint, flake8, mypy

fixing docs lenghts tests
  README.md
  compare_versions.py
  tests/test_evaluator.py
Due: pylint, flake8, mypy

adding partial to evaluation strategies
  compare_versions.py
  src/nervaluate/evaluation_strategies.py
  src/nervaluate/evaluator.py
Due: pylint, flake8, mypy

correcting and fixing partial strategy
  compare_versions.py
  src/nervaluate/evaluation_strategies.py
  src/nervaluate/evaluator.py
  tests/test_evaluator_new.py
Due: pylint, flake8, mypy

correcting and fixing strict strategy
  compare_versions.py
  src/nervaluate/evaluation_strategies.py
Due: pylint, flake8, mypy

correcting and fixing type strategy
  compare_versions.py
  src/nervaluate/evaluation_strategies.py
  tests/test_evaluator_new.py
Due: pylint, flake8, mypy

updating evaluation strategies tests
  src/nervaluate/evaluation_strategies.py
  tests/test_evaluation_strategies.py
  tests/test_evaluator_new.py
Due: pylint, flake8, mypy

wip: checking summary with aggregated entities and a specific scenario
  compare_versions.py
Due: pylint, flake8, mypy

only showing entities report for entities that actually apper on either true or pred data
  compare_versions.py
  src/nervaluate/evaluator.py
Due: pylint, flake8, mypy

wip: fixing report for entities
  compare_versions.py
  src/nervaluate/evaluator.py
Due: pylint, flake8, mypy

adding function to generate synthetic data
  compare_versions.py
  src/nervaluate/evaluator.py
Due: pylint, flake8, mypy

wip: fixing report for entities
  compare_versions.py
Due: pylint, flake8, mypy

wip
  compare_versions.py
Due: pylint, flake8, mypy

wip: fixing report indices
  compare_versions.py
  src/nervaluate/reporting.py
Due: pylint, flake8, mypy

comparative indices report overall
  compare_versions.py
Due: pylint, flake8, mypy

one more use case
  compare_versions.py
  src/nervaluate/reporting.py
Due: pylint, flake8, mypy

updating README.MD
  README.md
Due: none

adding deprecation warnings
  src/nervaluate/evaluate.py
  src/nervaluate/reporting.py
Due: pylint, flake8, mypy

removing old files
  src/nervaluate/__init__.py
  tests/test_evaluator.py
  tests/test_evaluator_new.py
  tests/test_loaders.py
  tests/test_nervaluate.py
  tests/test_reporting.py
  tests/test_utils.py
Due: pylint, flake8, mypy

removing old files
  tests/test_loaders.py
Due: pylint, flake8

0.3.0 release
  CHANGELOG.rst
  pyproject.toml
Due: none

fixing pandas dependency
  pyproject.toml
Due: none

fixing pandas dependency
  CHANGELOG.rst
Due: none

renaming evaluation_strategies to strategies and improving README
  README.md
  src/nervaluate/evaluator.py
  src/nervaluate/strategies.py
  tests/test_strategies.py
Due: pylint, flake8, mypy

updating CITATION and removing flake
  CITATION.cff
  CONTRIBUTING.md
  pyproject.toml
Due: none

wip: using hatch in contributing
  CONTRIBUTING.md
Due: none

Adds indices tests for `ent_type` strategy
  tests/test_strategies.py
Due: pylint, flake8

Adds tests for result indices in all strategies
  tests/test_strategies.py
Due: pylint, flake8

linting import statment
  tests/test_strategies.py
Due: pylint, flake8

saving to CSV file or return CSV string
  src/nervaluate/evaluator.py
  tests/test_evaluator.py
  tests/test_strategies.py
Due: pylint, flake8, mypy

relaxing tests invalid mode and scenario
  tests/test_evaluator.py
Due: pylint, flake8

removing pandas dependency
  pyproject.toml
Due: none

Path conditions:
  pylint: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: \.py$, but not: examples|tests
